.title{
    font-size: 30px;
    text-align: center;
}
.avatar{
    width: 100em;
    border-radius: 50%;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.avatar-container{
    display: flex;
    justify-content: center;
    margin-top: 8em;
}

:host .avatar{
    width: 10em !important;
    height: 100%;
}

ion-input{
    margin-top: 1em;
    --ion-color-success: #3A4860;
}

.sc-ion-input-md-h{
    --higlight-color-valid: #3A4860 !important;
}

.loginButton{
    margin-top: 2em;
    --background: #3A4860;
    --color: #FFFF;
    --color-activated:#3A4860 !important;
    --background-activated: #FFFF !important;
}


.avatar-btn{
    position: relative;
    bottom: 3em;
    width: 3em;
    height: 3em;
    left: 7em;
    --color: #FFFF;
    --color-activated:#3A4860 !important;
    --background-activated: #FFFF !important;
}