<ion-tabs>

  <ion-tab-bar slot="bottom" class="ion-no-border ion-no-margin">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="people-circle-outline"></ion-icon>
      <ion-label>Contactos</ion-label>
    </ion-tab-button>
    <div class="divisor"></div>
    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="id-card-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
