// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    /* Tema Claro */

--ion-color-light-rgb: rgb(244, 241, 208); 
--ion-color-light:  #F4F1D0;
--ion-color-light-contrast: #000000;
--ion-color-light-contrast-rgb: 0, 0, 0;
--ion-color-light-shade: #D6D3A0;
--ion-color-light-tint: #F4F1D0; 

}